@media screen and (max-width:576px) {
    body{
        margin: 10px;
    }
    .universal-btn{
        width: auto;
    }
    /* nav responsive */
    nav .menu-btn i{
        display: block;
     }
     #click:checked ~ .menu-btn i::before{
        content: "\f00d";
     }
     nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: whitesmoke;
        height: 100vh;
        width: 100%;
        display: block;
        transition: all 0.3s ease;
     }
     #click:checked ~ ul{
        left: 0%;
     }
     nav ul li{
        margin: 40px 0;
        text-align: center;
     }
     nav ul li a{
        font-size: 25px;
        display: block;
     }
     /* banner responsive */
     .banner-container{
        padding: 32px 16px;
        margin-top: 46px;
        border-radius: 16px;
        background-position: center;
    }
    .banner-text h1{ 
        font-size: 22px;
        margin-bottom: 15px;
    }
     .banner-text{
        width: 100%;
        margin: 0;
    }
    .form{
        flex-direction: column;
    }
    form{
        width: 100%;
        margin-top: 15px;
    }
    form input,select,button{
        width: 100%;
    }
    /* popular responsive */
    .popular{
     flex-direction: column;
     width: 100%;
     margin: 24px 0;
    }
    .popular-text{
        width: 100%;
    }
    .popular-img{
        margin-top: 24px;
        width: 100%;
    }
/* Destination */

/* choose */

/* deals */

/* simple */

/* newsletter */

/* footer */
}