@media screen and (max-width:576px) {
    body{
        margin: 10px;
    }
    .universal-btn{
        width: auto;
    }
    /* nav responsive */
    nav .menu-btn i{
        display: block;
     }
     #click:checked ~ .menu-btn i::before{
        content: "\f00d";
     }
     nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: whitesmoke;
        height: 100vh;
        width: 100%;
        display: block;
        transition: all 0.3s ease;
     }
     #click:checked ~ ul{
        left: 0%;
     }
     nav ul li{
        margin: 40px 0;
        text-align: center;
     }
     nav ul li a{
        font-size: 25px;
        display: block;
     }
     /* banner responsive */
     .banner-container{
        padding: 32px 16px;
        margin-top: 46px;
        border-radius: 16px;
        background-position: center;
    }
    .banner-text h1{ 
        font-size: 22px;
        margin-bottom: 15px;
    }
     .banner-text{
        width: 100%;
        margin: 0;
    }
    .form{
        flex-direction: column;
    }
    form{
        width: 100%;
        margin-top: 15px;
    }
    form input{
        width: 100%;
    }
    form select{
        width: 100%;
    }
    form button{
        width: 100%;
    }
    /* popular responsive */
    .popular{
     flex-direction: column;
     width: 100%;
     margin: 24px 0;
    }
    .popular-text{
        width: 100%;
    }
    .popular-img{
        margin-top: 24px;
        width: 100%;
    }
/* Destination */
.destination{
    width: 100%;
    margin: 24px auto;
}
.first-row, .second-row, .third-row{
    flex-direction: column;
}
.first-row img{
    width: 100%;
    height: 176px;
    object-fit: cover;
    border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.second-row img{
    width: 100%;
    height: 176px;
    object-fit: cover;
}
.third-row img{
    width: 100%;
    height: 176px;
    object-fit: cover;
}

/* deals */
.deals{
    width: 100%;
    margin-top: 24px;
}
.tour{
    padding: 16px;
    width: 335px;
    height: 500px;
}
.tour-text{
    width: 303px;
    height: 297px;
    margin-top: 150px;
    margin-left: 0;
    padding: 15px;
}
.tour-text button{
    width: 130px;
    height: 40px;
}
.tour-icons{
    /* flex-wrap: wrap; */
    gap: 20px; 
}
.icons{
    gap: 0;
}
.tour-text p {
    position: relative;
    overflow: hidden;
    max-height: 2.6em; 
    line-height: 1.2em;
}

.tour-text p::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); 
    padding-left: 5px; 
}
.tour-text h5{
    margin-bottom: 10px;
}

/* simple */
.simple{
    flex-direction: column;
    margin-top: 24px;
}
.simple-text{
    width: 100%;
    margin-bottom: 24px;
}
.simple-img{
    width: 100%;
}
/* newsletter */
.newsletter{
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.newsletter-text{
    width: 100%;
}
.newsletter-img{
    width: 100%;
}
.save{
    width: 214.023px;
    height: 79.268px;
    bottom: 20%;
    left: 35%;
}
.save h3{
    font-size: 15px;
}
.save h1{
    font-size: 21px;
}
.newsletter-text form input,button{
    width: 100%;
}
.newsletter-text form button{
    padding: 14px 96px;
}

/* footer */
footer{
    width: 100%;
}
.footer-container{
    width: 100%;
    padding: 30px;
}
.upper-heading{
    padding-left: 20px;
    padding-top: 33px;
}
.footer-container hr{
    margin: 33px 0;
}

.lower-footer{
    padding-bottom: 30px;
}
.logo{
    margin-top: 16px;
}
}
