@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* universal style */
*{
    font-family: "Mulish", sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header style */
header{
    max-width: 1170px;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-heading{
    display: flex;
    gap: 17px;
}
.nav-heading h1{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.nav-heading h1 span{
    color: #FF5400;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin-right: 44px;
}
nav ul li a{
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}
#home{
    color: #FF5400;
    font-weight: 700;
}
#click{
    display: none;
}
nav .menu-btn i{
    color: #131318;
    font-size: 25px;
    cursor: pointer;
    display: none;
}